body {
    font-family: monospace;
    font-size: 25px;
    min-height: 400px;
    background-color:  #470a3f;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }

 .notas {
   margin: 12px;
   padding: 6px;
   border-radius: 5px;
  }

#bim1 {
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
}

#bim2 {
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
}

#bim3 {
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
}
#bim4 {
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
}

#botao{
  margin: 12px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(180, 169, 169);
  font-weight: 700;
  font-size: 16px;
}


#resultado {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  color:#ffffff;

}

  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }